* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

li {
  list-style: none;
}

.Trana {
  margin: 0;
}

.top-bar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 80vw;
  padding: 1vh 10vw 0 10vw;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list-item {
  padding: 3px;
  margin-right: 10vw;
  white-space: nowrap;
}

.main {
  margin: 10vh 10vw 0vw 10vw !important;
  width: 100%;
}

.dashboard {
  margin: 10vh 10vw 0vw 10vw !important;
  width: 100%;
}

.row {
  width: 80vw;
}

.col {
  border: 1px solid black;
}